main {
  width: 73%;
  @include flex-center(column);
  > .service {
    width: 100%;
    padding: 60px 0;
    @include flex-center(row, space-around);
    > div {
      padding: 0 27px;
      @include flex-center(column);
      > span {
        font-family: "Roboto Slab", sans-serif;
        color: #4e4e4e;
        font-size: 18px;
        font-weight: 700;
        line-height: 60px;
        text-align: center;
      }
      > p {
        font-family: "Roboto", sans-serif;
        color: #616161;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
      }
    }
  }
  > .separator {
    background-color: rgba(0, 0, 0, 0.11);
    width: 100%;
    height: 2px;
  }
  > .latest-works {
    width: 100%;
    padding: 60px 0;
    > span {
      font-family: "Roboto Condensed";
      color: #4e4e4e;
      font-size: 18px;
      font-weight: 700;
      line-height: 35px;
      text-align: left;
      text-transform: uppercase;
    }
    > div {
      @include flex-center(row, space-around);
      > div {
        @include flex-center(column, center, flex-start);
        width: 380px;
        padding: 0 calc(15px / 2);
        > img {
          width: 100%;
          height: 100%;
          padding: 25px 0;
        }
        > .css-67 {
          font-family: "Roboto Condensed";
          color: #4e4e4e;
          font-size: 18px;
          font-weight: 700;
          text-align: left;
        }
        > .css-68 {
          font-family: "Roboto Condensed";
          color: #a8a8a8;
          font-size: 13px;
          font-weight: 400;
          padding-top: 14px;
          padding-bottom: 23px;
        }

        > .css-69 {
          font-family: "Roboto";
          color: #5c5c5c;
          font-size: 14px;
          font-weight: 400;
          line-height: 28px;
          text-align: left;
        }
      }
    }
  }
  > .testimanial {
    background-color: rgba(0, 0, 0, 0.03);
    width: 137%;
    height: 230px;
    @include flex-center(column);
    > span {
      color: #dcdcdc;
      font-size: 100px;
      font-weight: 400;
      height: 70px;
    }
    > p {
      width: 55%;
      font-family: "Roboto Slab";
      color: #a1a1a1;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      text-align: center;
    }
  }
}
